*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
}

#root {
  min-height: 100%;
  position: relative;
}

.page {
  text-align: center;
}
